.header {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 0.2rem solid var(--color-grey-light-1);
}

.form {
  display: flex;
  justify-self: center;
  grid-column: 2 / span 1;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
